/* reset */
.container {
  display: flex;
}

.checkedWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  &.disabled {
    cursor: initial;
  }

  &:focus-within,
  &:hover:not(.disabled) {
    background-color: var(--color-dark-100);
  }
}

.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  border: 2px solid var(--color-light-100);
  border-radius: 2px;

  &.disabled {
    cursor: initial;
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-light-300);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-dark-900);

  background-color: var(--color-Light-100);
  border: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 15px;

  font-size: 15px;
  line-height: 1;
  color: white;

  &.disabled {
    color: var(--color-dark-100);
  }
}
