.common {
  width: 62%;
  margin: 0 auto;
  margin-top: 20px;
}

.blockArrowBack {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.blokButtonAddNewCard {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.textField {
  margin-top: 15px;
}
