.common {
  width: 85%;
  margin: 0 auto;
}

.blockTitleButton {
  display: flex;
  justify-content: space-between;
}

.blockSettings {
  display: flex;
  align-items: end;
  justify-content: space-between;

  height: 100px;
}

.tabPanel {
  margin-bottom: 23px;
}

.slider {
  margin-bottom: 23px;
}

.buttonIconDelete {
  margin-bottom: 23px;
}

.pagination {
  margin-top: 20px;
}
