.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 26.25rem;
  height: 24rem;
  padding: 2.06rem 2.25rem 3.75rem;
}

.headear {
  margin-bottom: 2rem;
  text-align: center;
}

.text {
  margin-bottom: 2rem;
  color: var(--color-light-900);
  text-align: center;
}
