.common {
  display: flex;
  justify-content: center;
  height: 85px;
  width: 100%;
  margin: 0 auto;

  background-color: var(--color-dark-900);
  box-shadow: var(--color-dark-700) 7px 20px 20px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
